/* * Estilos de CSS * */

/* Floats y clearfix - usados para el contador de puntaje */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
    overflow: auto;
}

.invisible {
    visibility: hidden;
}



/* Puntajes */

#scoreboard {
    width: 600px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 0.5em;
}

/* Tablero de pong */

.pong-board {
    width: 600px;
    height: 400px;
    position: absolute;
    margin: 0;
    padding: 0;
    background: rgb(68, 184, 108);
    background: linear-gradient(65deg, rgba(68, 184, 108, 1) 0%, rgba(124, 250, 111, 1) 100%);
}

/* Pads */

.pad {
    display: inline-block;
    width: 15px;
    height: 80px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #000;
    background: rgb(2, 0, 36);
    background: linear-gradient(54deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

/* Bola */

.ball {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #EDFB47;
    border-radius: 9999px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #000;
}

/* Separador */

.separador {
    position: absolute;
    background-color: #eeeff4;
    top: 0px;
    bottom: 0px;
    left: 296px;
    width: 8px;
}
